# Build
target/
.build/

# IDE
.idea/
.vscode/
*.iml
.project
.classpath
.settings/

# OS
.DS_Store

# Env & local secrets
.env
**/application-local.properties
bfg.jar

# Runtime data
uploads/
postgres_data/

# Maven wrapper (opsiyonel)
.mvn/wrapper/maven-wrapper.jar
